<!DOCTYPE html>
<html lang="en-US">
  {% include analytics.html %}
  <meta charset="utf-8">
  <title>Videresender til {{ page.title }}&hellip;</title>
  <link rel="canonical" href="{{ page.redirect.to }}">
  {% include favicon.html %}
  {% unless page.warning %}
  <script>window.location.href="{{ page.redirect.to }}";</script>
  <meta http-equiv="refresh" content="0; url={{ page.redirect.to }}">
  {% endunless %}
  <meta name="robots" content="noindex">
  <h1>Videresender {{ page.title }}&hellip;</h1>
  <div>
    {{ page.warning | markdownify }}
    {{ content | markdownify }}
  </div>
  <p><a href="{{ page.redirect.to }}">Gå videre til {{ page.title }}.</a></p>
</html>
